.caja{
    height: 250px;
    background-color: #ffffffb9;
   padding: 20px;
  text-align: center;
 margin: 5px 5px 5px 2px; 
 box-sizing: border-box;
 overflow: visible;
animation: entrar 3s infinite;
margin-top: 30px;

}

@keyframes entrar{
50%{
    transform: translate(500px);
    transform:rotate(360deg);
transform: translatey(30px);

}
}
.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav ul li a:hover {
  text-decoration: underline;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.header {
  background-color: #0b3d91;
  color: white;
  padding: 20px 0;
}
.logo {
  font-size: 2rem;
  text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: 1000px;
}
    
header {
    grid-column: span 5 / span 5;
    text-align: center;
background-color: rgba(223, 221, 221, 0.418);
}

main{
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
text-align: center;
height: max-content;
margin: 0px 100px;
}

nav {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 2;

}

footer {
    grid-column: span 4 / span 4;
    grid-row-start: 5;
    height: max-content;
text-align: center;
margin-top: 20px;
}

.center{
    display: flex;
    justify-content:center;
}
.letra{
    color: black;
}